aside.main-sidebar.sidebar-dark-primary.elevation-4
    .dropdown
        a.brand-link(href='/')
            h3.text-center.p-0.m-0
                b(style='font-size:20px')= date 
            
    .sidebar.pb-4.mb-4
        nav.mt-2
            ul.nav.nav-pills.nav-sidebar.flex-column.nav-flat(data-widget='treeview', role='menu', data-accordion='false')
                li.nav-item.dropdown
                    a.nav-link.nav-home(href='/')
                        
                        p Home
                        
                li.nav-item
                    a.nav-link.nav-task_list(href='/flow/1')
                        
                        p Flow
                li.nav-item
                    a.nav-link.nav-task_list(href='/rule-control')
                        
                        p Rule control
               
                            